@import 'variables';
@import 'nav';
@import 'search';
@import 'placecard';
@import 'myplaces';
@import 'placepage';

body {
    background: $primary-red;
    font-family: serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: avenir, sans-serif;
}